.nav-bar-container {
  display: flex;
  background-color: #f1f3f5;
  border-radius: 25px;
  padding: 5px;
  margin-bottom: 25px;
  width: 100%;
}

.nav-button {
  flex: 1;
  border: none;
  background: none;
  padding: 10px 0;
  cursor: pointer;
  font-weight: 600;
  color: #666;
  border-radius: 20px;
  transition: all 0.3s ease;
}


.nav-button.active {
  background-color: #ffffff;
  color: #333;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}